{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Binch Game</title>
        <script type="text/javascript" src="{% static 'binch.js' %}"></script>
    </head>
    <body>
    <h1>Welcome to Binch Game!</h1>
    <p></p>
    <h3>By Andrew and Silap</h3>
    <h2>Instructions</h2>
    <p>*insert instructions here*</p>
    <a href="/game/">Click here to play game!</a>
    <p></p>
    <img src="http://i.imgur.com/PDu6jo2.jpg">
    <img src="https://s3.amazonaws.com/cratejoy_vendor_images/treats/bold-copy-6/images/Binch-by-Lotte.png">
    </body>
</html>
